In [1]:
# Q1. List any five functions of the pandas library with execution.

In [4]:
import pandas as pd

# Read a CSV file into a DataFrame object
df = pd.read_csv('services.csv')

# Print the first five rows of the DataFrame
print(df.head(5))

   id  location_id  program_id accepted_payments alternate_name  \
0   1            1         NaN               NaN            NaN
1   2            2         NaN               NaN            NaN
2   3            3         NaN               NaN            NaN
3   4            4         NaN               NaN            NaN
4   5            5         NaN               NaN            NaN

                           application_process  \
0                   Walk in or apply by phone.
1           Apply by phone for an appointment.
2  Phone for information (403-4300 Ext. 4322).
3                              Apply by phone.
4                       Phone for information.

                                            audience  \
0  Older adults age 55 or over, ethnic minorities...
1       Residents of San Mateo County age 55 or over
2  Older adults age 55 or over who can benefit fr...
3  Parents, children, families with problems of c...
4  Low-income working families with children tran...

                                         description  \
0  A walk-in center for older adults that provide...
1  Provides training and job placement to eligibl...
2  Offers supportive counseling services to San M...
3  Provides supervised visitation services and a ...
4  Provides fixed 8% short term loans to eligible...

                                         eligibility email  ...  \
0  Age 55 or over for most programs, age 60 or ov...   NaN  ...
1  Age 55 or over, county resident and willing an...   NaN  ...
2        Resident of San Mateo County age 55 or over   NaN  ...
3                                               None   NaN  ...
4  Eligibility: Low-income family with legal cust...   NaN  ...

  interpretation_services                                           keywords  \
0                     NaN  ADULT PROTECTION AND CARE SERVICES, Meal Sites...
1                     NaN  EMPLOYMENT/TRAINING SERVICES, Job Development,...
2                     NaN  Geriatric Counseling, Older Adults, Gay, Lesbi...
3                     NaN  INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...
4                     NaN     COMMUNITY SERVICES, Speakers, Automobile Loans

  languages                               name required_documents  \
0       NaN    Fair Oaks Adult Activity Center                NaN
1       NaN   Second Career Employment Program                NaN
2       NaN             Senior Peer Counseling                NaN
3       NaN           Family Visitation Center                NaN
4       NaN  Economic Self-Sufficiency Program                NaN

      service_areas  status wait_time website taxonomy_ids
0             Colma  active  No wait.     NaN          NaN
1  San Mateo County  active   Varies.     NaN          NaN
2  San Mateo County  active   Varies.     NaN          NaN
3  San Mateo County  active  No wait.     NaN          NaN
4  San Mateo County  active       NaN     NaN          NaN

[5 rows x 22 columns]

In [5]:
import pandas as pd

# Create a DataFrame object
data = {'name': ['John', 'Jane', 'Bob', 'Alice', 'Mike'],
        'age': [30, 25, 22, 35, 40],
        'city': ['New York', 'San Francisco', 'London', 'Paris', 'Tokyo']}
df = pd.DataFrame(data)

# Print the first three rows of the DataFrame
print(df.head(3))

   name  age           city
0  John   30       New York
1  Jane   25  San Francisco
2   Bob   22         London

In [6]:
import pandas as pd

# Create a DataFrame object
data = {'age': [30, 25, 22, 35, 40]}
df = pd.DataFrame(data)

# Generate descriptive statistics of the DataFrame
print(df.describe())

             age
count   5.000000
mean   30.400000
std     7.300685
min    22.000000
25%    25.000000
50%    30.000000
75%    35.000000
max    40.000000

In [7]:
import pandas as pd

# Create a DataFrame object
data = {'name': ['John', 'Jane', 'Bob', 'Alice', 'Mike'],
        'age': [30, 25, 22, 35, 40],
        'city': ['New York', 'San Francisco', 'London', 'Paris', 'Tokyo']}
df = pd.DataFrame(data)

# Group the rows of the DataFrame by city
grouped = df.groupby('city')

# Calculate the mean age for each city
print(grouped['age'].mean())

city
London           22.0
New York         30.0
Paris            35.0
San Francisco    25.0
Tokyo            40.0
Name: age, dtype: float64

In [8]:
import pandas as pd

# Create two DataFrame objects
data1 = {'name': ['John', 'Jane', 'Bob', 'Alice', 'Mike'],
         'age': [30, 25, 22, 35, 40]}
df1 = pd.DataFrame(data1)

data2 = {'name': ['John', 'Jane', 'Bob', 'Alice', 'Mike'],
         'city': ['New York', 'San Francisco', 'London', 'Paris', 'Tokyo']}
df2 = pd.DataFrame(data2)

# Merge the two DataFrames based on the name column
merged = pd.merge(df1, df2, on='name')

# Print the merged DataFrame
print(merged)

    name  age           city
0   John   30       New York
1   Jane   25  San Francisco
2    Bob   22         London
3  Alice   35          Paris
4   Mike   40          Tokyo

In [9]:
# Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
# DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [17]:
import pandas as pd
data = {'A': [1,2,3,4,5],
        'B': [6,7,8,9,10],
        'C': [11,12,13,14,15]}

In [18]:
df = pd.DataFrame(data)

In [19]:
df

   A   B   C
0  1   6  11
1  2   7  12
2  3   8  13
3  4   9  14
4  5  10  15

In [22]:
new_index = pd.RangeIndex(start=1, stop=2*len(df), step=2)

In [23]:
df = df.reindex(new_index)

In [24]:
df

     A    B     C
1  2.0  7.0  12.0
3  4.0  9.0  14.0
5  NaN  NaN   NaN
7  NaN  NaN   NaN
9  NaN  NaN   NaN

In [11]:
# Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
# function should print the sum to the console.

#For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
#calculate and print the sum of the first three values, which is 60.

In [25]:
import pandas as pd
data = {'Values': [1,2,3,4,5,6,7]
       }

In [26]:
df= pd.DataFrame(data)

In [27]:
df

   Values
0       1
1       2
2       3
3       4
4       5
5       6
6       7

In [36]:
def  Sum_of_first_three_values(df):
    result = sum(df.Values[:3])
    return result

In [37]:
Sum_of_first_three_values(df)

6

In [12]:
#Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
#'Word_Count' that contains the number of words in each row of the 'Text' column.

In [ ]:
import pandas as pd

def add_word_count_column(df):
    # split the 'Text' column into a list of words for each row
    words_lists = df['Text'].str.split()

    # count the number of words in each list and create a new Series
    word_counts = words_lists.apply(lambda x: len(x))

    # add the new 'Word_Count' column to the DataFrame
    df['Word_Count'] = word_counts

    # return the DataFrame with the new column added
    return df

In [ ]:
# Q5. How are DataFrame.size() and DataFrame.shape() different?

In [ ]:
"""
Ans.  DataFrame.size() and DataFrame.shape() are both methods of the Pandas DataFrame object, but they have different functionalities.

DataFrame.size(): This method returns the total number of elements in the DataFrame. This is equivalent to the number of rows multiplied by the number of columns. The returned value is an integer.

DataFrame.shape(): This method returns a tuple representing the dimensions of the DataFrame. The tuple contains two elements, the number of rows and the number of columns. The returned value is a tuple.
"""

In [ ]:
# Q6. Which function of pandas do we use to read an excel file?

In [ ]:
import pandas as pd
"""
# Read an Excel file into a DataFrame
df = pd.read_excel('file.xlsx', sheet_name='Sheet1')

# Display the DataFrame
print(df.head())

""""

In [ ]:
"""
Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

"""

In [3]:
import pandas as pd

def extract_username(df):
    # Extract the username from each email address and store it in a new column
    df['Username'] = df['Email'].str.split('@').str[0]
    return df

In [4]:

# Create a sample DataFrame with an 'Email' column
df = pd.DataFrame({'Email': ['john.doe@example.com', 'jane.doe@example.com', 'bob.smith@example.com']})

# Use the extract_username function to create a new 'Username' column
df = extract_username(df)

# Display the updated DataFrame
print(df.head())

                   Email   Username
0   john.doe@example.com   john.doe
1   jane.doe@example.com   jane.doe
2  bob.smith@example.com  bob.smith

In [ ]:
"""
Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2

Your function should select the following rows: A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.

"""

In [5]:
import pandas as pd

def select_rows(df):
    # Select rows where A > 5 and B < 10
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    
    # Return the selected rows
    return selected_rows

In [6]:
# Create a sample DataFrame with columns 'A', 'B', and 'C'
df = pd.DataFrame({
    'A': [3, 8, 6, 2, 9],
    'B': [5, 2, 9, 3, 1],
    'C': [1, 7, 4, 5, 2]
})

# Use the select_rows function to select rows where A > 5 and B < 10
selected_rows = select_rows(df)

# Display the selected rows
print(selected_rows.head())

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

In [ ]:
# Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
# median, and standard deviation of the values in the 'Values' column.

In [10]:
def cal_stats(df):
    mean = df['Values'].mean()
    median=df['Values'].median()
    std_dev = df['Values'].std()
    results = {
        'mean': mean,
        'median': median,
        'standard deviation': std_dev
    }
    return results

In [11]:
import numpy as np
df = pd.DataFrame({
    'Values': [10, 20, 30, 40, 50]
})

cal_stats(df)

{'mean': 30.0, 'median': 30.0, 'standard deviation': 15.811388300841896}

In [ ]:
"""
Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

"""

In [12]:
import pandas as pd

def calculate_moving_average(df):
    # Calculate rolling window of size 7 days
    window_size = 7
    rolling_sales = df['Sales'].rolling(window_size, min_periods=1)
    
    # Calculate moving average of sales for each row
    moving_average = rolling_sales.mean()
    
    # Add moving average as new column to DataFrame
    df['MovingAverage'] = moving_average
    
    # Return DataFrame with new column
    return df

In [13]:
# Create a sample DataFrame with 'Sales' and 'Date' columns
df = pd.DataFrame({
    'Sales': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
    'Date': pd.date_range(start='2023-01-01', periods=10, freq='D')
})

# Use the calculate_moving_average function to calculate moving average of 'Sales' column
df = calculate_moving_average(df)

# Display the modified DataFrame with new 'MovingAverage' column
print(df)

   Sales       Date  MovingAverage
0     10 2023-01-01           10.0
1     20 2023-01-02           15.0
2     30 2023-01-03           20.0
3     40 2023-01-04           25.0
4     50 2023-01-05           30.0
5     60 2023-01-06           35.0
6     70 2023-01-07           40.0
7     80 2023-01-08           50.0
8     90 2023-01-09           60.0
9    100 2023-01-10           70.0

In [ ]:
"""
Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

"""

In [41]:
import pandas as pd

def add_weekday(df):
    df['Weekday'] = pd.to_datetime(df['Date']).dt.day_name()
    return df

In [42]:
df= pd.DataFrame({'Date': pd.date_range(start='2023-01-01', periods=10, freq='D')})
df
add_weekday(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday
5 2023-01-06     Friday
6 2023-01-07   Saturday
7 2023-01-08     Sunday
8 2023-01-09     Monday
9 2023-01-10    Tuesday

In [24]:
#Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
# function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [52]:
def select_january_data(df):
    # Convert 'Date' column to datetime format
    df['Date'] = pd.to_datetime(df['Date'])
    # Select rows where 'Date' is between '2023-01-01' and '2023-01-10'
    jan_data = df[(df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-10')]
    # Return selected data
    return jan_data

In [53]:
df= pd.DataFrame({'Date': pd.date_range(start='2023-01-01', periods=20, freq='D')})
select_january_data(df)

        Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
5 2023-01-06
6 2023-01-07
7 2023-01-08
8 2023-01-09
9 2023-01-10

In [ ]:
#Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
# be imported?

In [ ]:
import pandas as pd