In [ ]:
# Q1. Write a code to print the data present in the second row of the dataframe, df.

In [2]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [4]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [ ]:
# Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

In [ ]:
"""
Ans. Both loc and iloc are functions in Pandas that are used to select specific data from a dataframe.

loc is used to select data from a dataframe based on its label or index. It takes the form df.loc[row_label, column_label], where row_label and column_label can be a single label or a list of labels. For example, df.loc[0, 'Name'] selects the data in the first row and the column labeled 'Name'.

iloc is used to select data from a dataframe based on its integer index. It takes the form df.iloc[row_index, column_index], where row_index and column_index are integers or slices. For example, df.iloc[0, 0] selects the data in the first row and the first column.

The key difference between loc and iloc is that loc uses labels to select data, while iloc uses integer indices.

Here's a quick summary of the differences:

loc is used for label-based indexing, while iloc is used for integer-based indexing.
loc uses the row and column labels to select data, while iloc uses integer indices.
loc supports label slicing and boolean indexing, while iloc supports integer slicing and boolean indexing.

"""

In [ ]:
# Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
# then find the output for both new_df.loc[2] and new_df.iloc[2].

In [6]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [8]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.565279  0.692362  0.623974  0.055773  0.724879  0.239995
2  0.665236  0.778336  0.175445  0.179213  0.940987  0.483031
3  0.399862  0.387805  0.848942  0.273045  0.284029  0.124891
4  0.725208  0.029016  0.314078  0.678515  0.100103  0.974195
5  0.735814  0.639155  0.604055  0.683459  0.850398  0.721133
6  0.103139  0.442676  0.150646  0.616172  0.638817  0.417353

In [13]:
new_df = df1.reindex([3,0,1,2])

In [14]:
new_df.loc[2]

column_1    0.665236
column_2    0.778336
column_3    0.175445
column_4    0.179213
column_5    0.940987
column_6    0.483031
Name: 2, dtype: float64

In [15]:
new_df.iloc[2]

column_1    0.565279
column_2    0.692362
column_3    0.623974
column_4    0.055773
column_5    0.724879
column_6    0.239995
Name: 1, dtype: float64

In [ ]:
# Q4. Write a code to find the following statistical measurements for the above dataframe df1:
# (i) mean of each and every column present in the dataframe.
# (ii) standard deviation of column, ‘column_2’

In [16]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [17]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.227163  0.423223  0.678307  0.919843  0.568074  0.426310
2  0.201405  0.625469  0.362053  0.683948  0.120736  0.629237
3  0.342710  0.357589  0.321467  0.719717  0.505732  0.466617
4  0.612985  0.413715  0.864142  0.695279  0.380438  0.172790
5  0.626207  0.915620  0.641581  0.629714  0.554018  0.264575
6  0.278712  0.884071  0.450373  0.098422  0.858447  0.724350

In [18]:
df1.mean()

column_1    0.381531
column_2    0.603281
column_3    0.552987
column_4    0.624487
column_5    0.497908
column_6    0.447313
dtype: float64

In [22]:
df1['column_2'].std()

0.247229212247046

In [ ]:
"""
Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

"""

In [25]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [32]:
df1.loc[:6, 'column_2'] = 'string variable'

In [33]:
df1

   column_1         column_2  column_3  column_4  column_5  column_6
1  0.962819  string variable  0.029943  0.743090  0.073312  0.181717
2  0.202309  string variable  0.422343  0.260649  0.443267  0.404815
3  0.580787  string variable  0.323908  0.126379  0.465559  0.166584
4  0.865298  string variable  0.138057  0.257538  0.019580  0.061474
5  0.841674  string variable  0.678917  0.113525  0.622666  0.315104
6  0.727978  string variable  0.440819  0.993801  0.557960  0.201572

In [36]:
df1['column_2'].mean()

TypeError: Could not convert string variablestring variablestring variablestring variablestring variablestring variable to numeric

In [ ]:
# Could not convert string variablestring variablestring variablestring variablestring variablestring variable to numeric

In [ ]:
# Q6. What do you understand about the windows function in pandas and list the types of windows functions?

In [ ]:
"""
In Pandas, a window function is a function that allows you to perform a calculation across a rolling window of data. This can be useful for tasks like calculating moving averages, cumulative sums, and other time-based calculations.

There are several types of window functions in Pandas, including:

Rolling: A rolling window function returns a rolling window object that enables us to perform rolling window calculations. It calculates the statistic (e.g. mean, sum) over a specified window size, which is moved over the data frame column.

Expanding: An expanding window function returns an expanding window object that enables us to perform expanding window calculations. It calculates the statistic (e.g. mean, sum) over all previous rows up to the current row.

EWM (Exponentially Weighted Moving): An EWM function returns an exponentially weighted window object that enables us to perform exponentially weighted window calculations. It calculates the statistic (e.g. mean, sum) over a specified window size, giving more weight to recent values and less weight to older values.

Rolling with Time-Based Window: A time-based window function is similar to a rolling function, but it uses a time-based index (i.e., DatetimeIndex) to specify the window size.
"""

In [ ]:
# Q7. Write a code to print only the current month and year at the time of answering this question. [Hint: Use pandas.datetime function]

In [37]:
import pandas as pd

# get current date and time
now = pd.datetime.now()

# extract current month and year
current_month = now.month
current_year = now.year

# print current month and year
print("Current month:", current_month)
print("Current year:", current_year)

Current month: 3
Current year: 2023

/tmp/ipykernel_70/2697795654.py:4: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  now = pd.datetime.now()

In [ ]:
# Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The
# program should prompt the user to enter the dates and display the result.

In [1]:
 import pandas as pd

# Prompt the user to enter the two dates
date1_str = input("Enter the first date (YYYY-MM-DD): ")
date2_str = input("Enter the second date (YYYY-MM-DD): ")

# Convert the input strings into pandas datetime objects
date1 = pd.to_datetime(date1_str)
date2 = pd.to_datetime(date2_str)

# Calculate the time difference using pandas time delta
time_diff = date2 - date1

# Extract the days, hours, and minutes from the time difference
days = time_diff.days
hours = time_diff.seconds // 3600
minutes = (time_diff.seconds // 60) % 60

# Display the result
print("The difference between", date2_str, "and", date1_str, "is:")
print(days, "days,", hours, "hours,", "and", minutes, "minutes.")

Enter the first date (YYYY-MM-DD):  2019-01-01
Enter the second date (YYYY-MM-DD):  2020-01-01

The difference between 2020-01-01 and 2019-01-01 is:
365 days, 0 hours, and 0 minutes.

In [ ]:
# Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column
# name, and category order, and then display the sorted data.

In [ ]:
import pandas as pd

# Prompt the user to enter the file path
file_path = input("Enter the CSV file path: ")

# Read the CSV file into a pandas DataFrame
data = pd.read_csv(file_path)

# Prompt the user to enter the column name and category order
col_name = input("Enter the column name: ")
categories = input("Enter the categories in the desired order, separated by commas: ").split(',')

# Convert the specified column to a categorical data type with the specified category order
cat_dtype = pd.api.types.CategoricalDtype(categories=categories, ordered=True)
data[col_name] = data[col_name].astype(cat_dtype)

# Display the sorted data
sorted_data = data.sort_values(col_name)
print(sorted_data)

In [ ]:
#Q10. Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The
#program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Prompt the user to enter the file path
file_path = input("Enter the CSV file path: ")

# Read the CSV file into a pandas DataFrame
data = pd.read_csv(file_path)

# Convert the date column to a pandas datetime object
data['date'] = pd.to_datetime(data['date'])

# Pivot the data to create a table of sales by product category and date
sales_by_category = pd.pivot_table(data, values='sales', index='date', columns='category', aggfunc='sum')

# Create a stacked bar chart of the sales by product category over time
ax = sales_by_category.plot(kind='bar', stacked=True, figsize=(10, 6))

# Set the title and axis labels
ax.set_title('Sales by Product Category')
ax.set_xlabel('Date')
ax.set_ylabel('Sales')

# Display the chart
plt.show()

In [ ]:
"""
Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.
The program should do the followingM
I Prompt the user to enter the file path of the CSV file containing the student dataR
I Read the CSV file into a Pandas DataFrameR
I Calculate the mean, median, and mode of the test scores using Pandas toolsR
I Display the mean, median, and mode in a table.
Assume the CSV file contains the following columnsM
I Student ID: The ID of the studentR
I Test Score: The score of the student's test.
Example usage of the program:
Enter the file path of the CSV file containing the student data: student_data.csv
+-----------+--------+
| Statistic | Value |
+-----------+--------+
| Mean | 79.6 |
| Median | 82 |
| Mode | 85, 90 |
+-----------+--------+
Assume that the CSV file student_data.csv contains the following data:
Student ID,Test Score
1,85
2,90
3,80
4,75
5,85
6,82
7,78
8,85
9,90
10,85
The program should calculate the mean, median, and mode of the test scores and display the results
in a table.

"""

In [ ]:
import pandas as pd

# Prompt the user to enter the file path
file_path = input("Enter the file path of the CSV file containing the student data: ")

# Read the CSV file into a pandas DataFrame
data = pd.read_csv(file_path)

# Calculate the mean, median, and mode of the test scores
mean_score = data['Test Score'].mean()
median_score = data['Test Score'].median()
mode_score = data['Test Score'].mode()

# Display the results in a table
results = pd.DataFrame({
    'Statistic': ['Mean', 'Median', 'Mode'],
    'Value': [mean_score, median_score, ', '.join(map(str, mode_score.tolist()))]
})
print(results.to_string(index=False))